###############################################################################
## Global section
###############################################################################
set daemon 10
set expectbuffer 20 kb
set logfile /var/log/monit.log
set statefile /var/run/monit-10.state
set pidfile /var/run/monit-10.pid
set idfile /var/run/monit-10.id
set mailserver localhost
set alert {{ monitoring_email }} with mail-format { subject: monit-10 $SERVICE $EVENT }
#
# Add monitors requiring 10 second intervals
#
check process nginx with pidfile /var/run/nginx.pid
    group www-data
    start program = "/usr/sbin/service nginx start"
    stop  program = "/usr/sbin/service nginx stop"
    if failed host localhost port 80 then restart


check process redis-server with pidfile /var/run/redis/redis-server.pid
    group redis
    start program = "/usr/sbin/service redis-server start"
    stop  program = "/usr/sbin/service redis-server stop"
    if failed host localhost port 6379 then restart

check host localhost with address localhost
    start program = "/sbin/start roshi-server"
    stop  program = "/sbin/stop roshi-server"
    if failed
        host localhost
        port 6302
    then restart
