---

files: "{{ playbook_dir }}/files"

# mail
mandrill_password: "{{ mandrill_password }}"
mandrill_username: "{{ mandrill_username }}"
sendgrid_password: "{{ sendgrid_password }}"
sendgrid_username: "{{ sendgrid_username }}"
mail_service: "{{ email_service }}"
monitoring_email: "{{ monitoring_email }}"

